# üöö Proceso de Carga de Datos

Este notebook se encarga de **almacenar los datos limpios** en una base de datos o archivo final (CSV, SQLite, etc.) que ser√° usado por los procesos de an√°lisis y visualizaci√≥n.

## ‚ú≥Ô∏è Librer√≠as necesarias

In [ ]:
import pandas as pd

In [ ]:


# Cargar el archivo CSV original
df_TablaAnalisis = pd.read_csv("/Users/monky02/Desktop/FP/Data/Source/TablaUnificada/TablasAnalisisJoin_transformado.csv")

# Filtrar filas donde qr_code != 0 (eliminar filas inv√°lidas)
df_TablaAnalisis = df_TablaAnalisis[df_TablaAnalisis['qr_code'] != 0].copy()

# Lista de columnas float que deben convertirse a enteros
columnas_a_convertir = [
    'qr_code', 'id', 'result_id', 'feliz', 'interesado',
    'motivado', 'entusiasmado', 'preocupado', 'temeroso',
    'triste', 'cansado', 'numrandom'
]

# Convertir columnas float a int (llenando NaN con 0)
for col in columnas_a_convertir:
    if col in df_TablaAnalisis.columns:
        df_TablaAnalisis[col] = df_TablaAnalisis[col].fillna(0).astype(int)

# Convertir columna de fecha a datetime
if 'fecha' in df_TablaAnalisis.columns:
    df_TablaAnalisis['fecha'] = pd.to_datetime(df_TablaAnalisis['fecha'], errors='coerce')

# Mostrar tipos de datos despu√©s de la conversi√≥n
print("\nTipos de datos despu√©s de la conversi√≥n:")
print(df_TablaAnalisis.dtypes)

# Guardar el nuevo DataFrame limpio en un nuevo archivo CSV
ruta_salida = "/Users/monky02/Desktop/FP/Data/Source/TablaUnificada/TablasAnalisisJoin_transformado_limpio.csv"
df_TablaAnalisis.to_csv(ruta_salida, index=False, encoding='utf-8')

print(f"\n‚úÖ Archivo limpio guardado exitosamente en:\n{ruta_salida}")

Tipos de datos despu√©s de la conversi√≥n:
qr_code                       int64
id                            int64
fecha                datetime64[ns]
det                          object
nombre_docente               object
nombre_asignatura            object
result_id                     int64
feliz                         int64
interesado                    int64
motivado                      int64
entusiasmado                  int64
preocupado                    int64
temeroso                      int64
triste                        int64
cansado                       int64
UIDE                         object
numrandom                     int64
rn                            int64
dtype: object

‚úÖ Archivo limpio guardado exitosamente en:
/Users/monky02/Desktop/FP/Data/Source/TablaUnificada/TablasAnalisisJoin_transformado_limpio.csv

In [ ]:

df_TablaAnalisis = pd.read_csv("/Users/monky02/Desktop/FP/Data/Source/TablaUnificada/TablasAnalisisJoin_transformado_limpio.csv")
df_TablaAnalisis.head()
# Ver cu√°ntas filas y columnas hay
print("Dimensiones:", df_TablaAnalisis.shape)

# Ver columnas
print("Columnas:", df_TablaAnalisis.columns)

# Ver tipos de datos
print("Tipos de datos:")
print(df_TablaAnalisis.dtypes)

Dimensiones: (13403, 18)
Columnas: Index(['qr_code', 'id', 'fecha', 'det', 'nombre_docente', 'nombre_asignatura',
       'result_id', 'feliz', 'interesado', 'motivado', 'entusiasmado',
       'preocupado', 'temeroso', 'triste', 'cansado', 'UIDE', 'numrandom',
       'rn'],
      dtype='object')
Tipos de datos:
qr_code               int64
id                    int64
fecha                object
det                  object
nombre_docente       object
nombre_asignatura    object
result_id             int64
feliz                 int64
interesado            int64
motivado              int64
entusiasmado          int64
preocupado            int64
temeroso              int64
triste                int64
cansado               int64
UIDE                 object
numrandom             int64
rn                    int64
dtype: object

In [50]:
df_TablaAnalisis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13403 entries, 0 to 13402
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   qr_code            13403 non-null  int64
 1   id                 13403 non-null  int64
 2   fecha              13403 non-null  object
 3   det                79 non-null     object
 4   nombre_docente     13403 non-null  object
 5   nombre_asignatura  13403 non-null  object
 6   result_id          13403 non-null  int64
 7   feliz              13403 non-null  int64
 8   interesado         13403 non-null  int64
 9   motivado           13403 non-null  int64
 10  entusiasmado       13403 non-null  int64
 11  preocupado         13403 non-null  int64
 12  temeroso           13403 non-null  int64
 13  triste             13403 non-null  int64
 14  cansado            13403 non-null  int64
 15  UIDE               3600 non-null   object
 16  numrandom          13403 non-null  int64
 17  rn                 13403 non-null  int64
dtypes: int64(13), object(5)
memory usage: 1.8+ MB

In [53]:
 # 1. Materias √∫nicas
materias_unicas = df_TablaAnalisis['nombre_asignatura'].nunique()
print(f"1. Materias √∫nicas: {materias_unicas}")

# 2. Docentes √∫nicos
docentes_unicos = df_TablaAnalisis['nombre_docente'].nunique()
print(f"2. Docentes √∫nicos: {docentes_unicos}")

# 3. qr_code √∫nicos
qr_code_unicos = df_TablaAnalisis['qr_code'].nunique()
print(f"3. QR Codes √∫nicos: {qr_code_unicos}")

# 4. numrandom √∫nicos
numrandom_unicos = df_TablaAnalisis['numrandom'].nunique()
print(f"4. numrandom √∫nicos: {numrandom_unicos}")

# 5. Top 5 materias m√°s frecuentes
print("\n3. Top 5 materias m√°s evaluadas:")
print(df_TablaAnalisis['nombre_asignatura'].value_counts().head(5))

# 6. Top 5 docentes con m√°s registros
print("\n4. Top 5 docentes m√°s evaluados:")
print(df_TablaAnalisis['nombre_docente'].value_counts().head(5))

1. Materias √∫nicas: 162
2. Docentes √∫nicos: 107
3. QR Codes √∫nicos: 896
4. numrandom √∫nicos: 896

3. Top 5 materias m√°s evaluadas:
nombre_asignatura
Relaciones publicas                   718
Arte y cultura                        401
Sociologia (mad)                      349
Practicum 2 oct21-feb22               296
Procesos de ingenieria de software    284
Name: count, dtype: int64

4. Top 5 docentes m√°s evaluados:
nombre_docente
Karen cesibel valdiviezo abad     718
Carlos javier vasquez monteros    695
Silvia elena malo martinez        597
Ana dolores verdu delgado         502
Jessica andrea ordonez cuenca     444
Name: count, dtype: int64